.cards {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 20px 38px;
  justify-content: center;
}

.cards__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
}

.cards__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cards__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.cards__like {
  max-width: 24px;
  max-height: 24px;
  padding: 12px 12px; 
  box-shadow: none;
  background: none;
  border: none; 
  background-image: url(../../images/like.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.cards__like_active {
  background-image: url(../../images/likeactive.svg);
}

.cards__dislike {
  max-width: 24px;
  max-height: 24px;
  padding: 12px 12px; 
  box-shadow: none;
  background: none;
  border: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.cards__dislike:hover {
  background-image: url(../../images/delete.svg);
  cursor: pointer;
}

.cards__line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E8E8E8;
  margin: 29px 0 6px;
  padding: 0;
}

.cards__time {
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0; 
}

@media (min-width: 768px) and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 339px);
    gap: 30px 30px;
  }

  .cards__image {
    height: 190px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 34px 30px;
  }

  .cards__image {
    height: 168px;
  }
}