.AboutMe {
  max-width: calc(100vw - 140px);
  width: 100%;
  margin: 110px auto 100px;
  display: flex;
  flex-direction: column;
}

.AboutMe__header {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
}

.AboutMe__line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 23px 0 70px;
  padding: 0;
}

.AboutMe__columns {
  display: flex;
  justify-content: space-between;
}

.AboutMe__column {
  max-width: 600px;
}

.AboutMe__name {
  margin: 0;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
}

.AboutMe__job {
  margin: 18px 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.AboutMe__info {
  margin: 0 0 99px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.AboutMe__site {
  margin: 0 20px 0 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.AboutMe__site:hover {
  cursor: pointer;
  opacity: 0,8;
}

.AboutMe__photo {
  height: 327px;
  max-width: 270px;
  width: 100%;
  border-radius: 10px;
  background-image: url(../../images/photo.png);
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .AboutMe {
    max-width: calc(100vw - 100px);
  }

  .AboutMe__column {
    max-width: 364px;
  }

  .AboutMe__photo {
    height: 307px;
    max-width: 255px;
  }

  .AboutMe__name {
    font-size: 40px;
    line-height: 40px;
  }

  .AboutMe__job {
    margin: 16px 0 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .AboutMe__info {
    margin: 0 0 87px 0;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .AboutMe {
    max-width: calc(100vw - 36px);
    margin: 70px auto;
  }

  .AboutMe__line {
    margin: 28px 0 60px;
  }

  .AboutMe__columns {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .AboutMe__photo {
    margin-bottom: 40px;
    height: 352px;
    max-width: 292px;
  }

  .AboutMe__name {
    font-size: 30px;
    line-height: 36px;
  }

  .AboutMe__job {
    margin: 20px 0;
    font-size: 11px;
    line-height: 16px;
  }

  .AboutMe__info {
    margin: 0 0 40px 0;
    font-size: 11px;
    line-height: 16px;
  }
}